<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/5ad774fc-ca10-4975-a5c0-ffa51c016c3a/resourceGroups/dev_test/providers/Microsoft.ContainerRegistry/registries/dev4docker</ResourceId>
    <ResourceName>dev4docker</ResourceName>
    <ResourceGroup>dev_test</ResourceGroup>
    <Subscription>Microsoft Azure</Subscription>
    <RegistryUrl>https://dev4docker.azurecr.io</RegistryUrl>
    <UserName>dev4docker</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>889ebb8b-ea09-47ca-ab2b-7ba77cadeedb</ProjectGuid>
  </PropertyGroup>
</Project>